service vendor.camera-provider-vcam /vendor/bin/hw/android.hardware.camera.provider-service-vcam
    class hal
    user system
    group system
    capabilities SYS_NICE
    rlimit rtprio 10 10
    task_profiles CameraServiceCapacity CameraServicePerformance
